name: Run Unit Tests

on:
  push:
    branches: [main]
    paths:
      - '03-api-solid/**' # O workflow só dispara se houver mudanças nesta pasta

jobs:
  run-unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./03-api-solid
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: './03-api-solid/package-lock.json'

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm test
